<h1>Products</h1>

<hr/>

<div class="component">
  <% if user_signed_in? %>
    <%= link_to 'New Product', new_product_path %>
  <% end %>
</div>

<div class="component">
  <%= form_tag(products_path, method: :get) do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search' %>
  <% end %>
</div>


<table class="products-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Image</th>
      <th>Created</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.title, product %></td>
        <td><%= truncate product.description %></td>
        <td><%= number_to_currency product.price %></td>
        <td><%= image_tag(product.image_url, height: 64) if product.image? %></td>
        <td><%= product.created_at.to_s(:short) %></td>
        <%- if product.user == current_user %>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products %>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Product', new_product_path %>
<% end %>
