<h2>
  <%= @product.title %>
</p>
<hr/>

<h3>
  <strong>Price:</strong>
  <%= number_to_currency @product.price %>
</h3>

<div>
  <%= simple_format @product.description %>
</div>

<div>
  <%= image_tag(@product.image_url) if @product.image? %>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
